#navBar{
    background-color: black;
    line-height: 40px;
}
#navBar div{
    text-align: center;
}
#navBar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0% 5%;
}
#navBar a:hover{
    background-color: white;
    color: black;
    padding: 2% 4%;
    border-radius: 8px;
    font-weight: 700;
}
